<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${shopName}">매장 이름</title>
    </head>
    <body>
        <h1 th:text="${shopName + ' 지점 정보'}"></h1>
        <ul>
            <li th:each="branch : ${branches}">
                <a th:href="|javascript:test('${branch.linkUrl}')|"><span th:text="${branch.branchName}">지점명</span></a>
            </li>
        </ul>
    </body>
    <script>
        const test = function (url) {
            alert(url);
        };
    </script>
</html>